* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, dl, ol, ul, p {
  margin: 0;
  font-weight: 500;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}

input, textarea, select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 300px;
  padding: 25px;
  height: 100vh;
}

.title {
  font-size: 32px;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 25px;
  }
}

.filters {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin-top: 40px;
}
@media screen and (max-width: 500px) {
  .filters {
    flex-direction: column;
    margin-top: 20px;
  }
}
.filters li {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
  width: 130px;
}
@media screen and (max-width: 500px) {
  .filters li {
    margin-top: 10px;
    font-size: 16px;
  }
}
.filters li.selected span {
  border-bottom: 2px solid #000;
  font-weight: 600;
}
.filters li:hover {
  cursor: pointer;
}

.tasks {
  background-color: #FCFCFC;
  list-style: none;
  margin-top: 30px;
  padding: 25px;
  border-radius: 16px;
}
@media screen and (max-width: 500px) {
  .tasks {
    padding: 15px;
  }
}
.tasks li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 25px;
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #BEB5B5;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  max-height: 300px;
}
@media screen and (max-width: 500px) {
  .tasks li {
    font-size: 16px;
  }
}
.tasks li .accordion {
  flex: 1;
  font-size: inherit;
  background: none;
  padding: 20px;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.tasks li .delete {
  background: none;
  border: none;
  margin-right: 25px;
}
.tasks li .delete path {
  fill: #FF5A5A;
}
.tasks li .delete:hover {
  cursor: pointer;
}
.tasks li .delete:hover path {
  fill: #d40e0e;
}
.tasks li .panel {
  width: 100%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.tasks li .panel p {
  padding-bottom: 10px;
  font-size: 16px;
  word-break: break-all;
}
.tasks li.opened {
  max-height: 300px;
}
.tasks li span {
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  border: 1px solid #5A7FFF;
  border-radius: 50%;
}
.tasks li span:hover {
  cursor: pointer;
  background-color: #5A7FFF;
}
.tasks li.selected .accordion {
  color: #979797;
  text-decoration: line-through;
}
.tasks li.selected .panel {
  color: #979797;
}
.tasks li.selected span {
  background-color: #5A7FFF;
}
.tasks li:hover {
  cursor: pointer;
}

#add-btn {
  color: #5F9CF8;
  border: none;
  background: none;
  padding-top: 20px;
  font-size: 20px;
}
#add-btn:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  padding: 15px;
  width: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 500px) {
  .modal {
    width: 250px;
  }
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.modal-title {
  margin-bottom: 20px;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .modal-title {
    font-size: 25px;
  }
}
.modal-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-body input,
.modal-body textarea {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #BEB5B5;
}
.modal-body input:focus-visible,
.modal-body textarea:focus-visible {
  outline: none;
}
.modal-body textarea {
  margin-top: 10px;
  max-width: 470px;
  min-width: 470px;
  height: 100px;
  min-height: 50px;
  max-height: 200px;
}
@media screen and (max-width: 500px) {
  .modal-body textarea {
    max-width: 220px;
    min-width: 220px;
  }
}
.modal-btn {
  align-self: flex-end;
  background-color: #3485fd;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding: 10px;
}
.modal-btn:hover {
  background-color: #0d6efd;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */