* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, dl, ol, ul, p {
    margin: 0;
    font-weight: 500;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
}

input, textarea, select {
    appearance: none;
}